* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
}

body {
  background-color: rgb(0, 0, 0);
}

.calculator {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  height: 26.40rem;
  width: 17rem;
  z-index: 5;
  padding: 2%;
  margin: 16px 15px 30px 15px;
}

.container input {
  background-color: rgb(255, 255, 255);
  border-radius: 9px;
  padding: 3%;
  height: 3rem;
  font-size: 1.30rem;
  width: 100%;
  margin: 11% 0px;
  text-align: end;
}

.container button {
  width: 19%;
  height: 3rem;
  cursor: pointer;
  /* padding: 1px; */
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 1.03rem;
  margin: 1% 2.40%;
}

.container .oprator{
  background-color: #ff9d00;
  color: rgb(0, 0, 0);
}

h2{
  margin-top: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 10px rgb(244, 244, 244),
  4px 4px 10px rgb(244, 244, 244)
  ;
}
.orbit {
  height: 100%;
  width: 100%;
  position: absolute;
  background: repeating-conic-gradient(from var(--a), #ff2770 0%,
      #ff1770 5%, transparent 5%, transparent 40%, #ff2770 50%);
  animation: animate 4s linear infinite;
  border-radius: 9px;
}

@property --a {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@keyframes animate {
  0% {
    --a: 0deg;
  }

  100% {
    --a: 360deg;
  }
}



.orbit::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: repeating-conic-gradient(from var(--a), #45f3ff 0%,
      #45f3ff 5%, transparent 5%, transparent 40%, #45f3ff 50%);
  animation: animate 4s linear infinite;
  animation-delay: -1s;
  border-radius: 9px;
}

.orbit::after {
  content: '';
  position: absolute;
  inset: 8px;
  background-color: #000000;
}
